%div
	%h1
		%a{ :href => "/" } 
			%span#titlepre<
				this is MONDE
			%span{ :style => "color:#{@maincolor[0]}" }<
				=@maincolor[1]
	%br
	%h1#name{ :style => "background-color: #{@info[2]}" }= @info[0]
	
%div#subtitlecontainer
	%h2#subtitle{ :style => "background-color: #{@info[2]}" }= @info[1]
	
%ul.playlist
	- @songs.each_index do |n|
		%li{ :id => "item_#{n}" }
			%a.play_link{ :id => "play_#{n}", :href => "http://www.youtube.com/v/#{@songs[n][0]}?enablejsapi=1&playerapiid=ytplayer" }= @songs[n][1]
			%img{ :src => "buffering.gif" }
			%div.time_holder
				%span.time{ :id => "time_#{n}" }			
				%span.duration= @songs[n][2]
			
%div#ytapiplayer