%div#header{ :style => "background-color: #{@info[2]}" }
	%h2= @info[0]
	%h3= @info[1]
	%div#head_links
		%a{ :href => "/" } home
		|
		%a{ :href => "/create" } create
		|
		%a{ :href => "/random" } random
	
%ol.playlist
	- @songs.each_index do |n|
		%li{ :id => "item_#{n}" }
			%a.play_link{ :id => "play_#{n}", :href => "http://www.youtube.com/v/#{@songs[n][0]}?enablejsapi=1&playerapiid=ytplayer" }= @songs[n][1]
			%img{ :src => "buffering.gif" }
			%div.time_holder
				%span.time{ :id => "time_#{n}" }			
				%span.duration= @songs[n][2]
			
%div#ytapiplayer